# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive credentials (keep .example and layer templates)
*.tfvars
*.tfvars.json
!example.tfvars
!*.example.tfvars
!layers/**/*.tfvars

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Environment & credentials
.env
*.pem
*.key
.DS_Store
Thumbs.db
