environment         = "dev"
location            = "eastus"
resource_group_name = "rg-spoke-dev-01"
vnet_name           = "vnet-spoke-dev-01"
vnet_address_space  = ["10.1.0.0/16"]

web_subnet_cidr  = "10.1.1.0/24"
app_subnet_cidr  = "10.1.2.0/24"
data_subnet_cidr = "10.1.3.0/24"
pe_subnet_cidr   = "10.1.4.0/24"

hub_vnet_id             = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub-prod-01/providers/Microsoft.Network/virtualNetworks/vnet-hub-prod-01"
hub_vnet_name           = "vnet-hub-prod-01"
hub_resource_group_name = "rg-hub-prod-01"
hub_firewall_private_ip = "10.0.3.4"

enable_peering      = true
use_remote_gateways = false
enable_test_vm      = false

tags = {
  Environment = "DEV"
  CostCenter  = "Dev-Engineering-001"
  Owner       = "Workload-Dev-Team"
  Project     = "Enterprise-ALZ"
}
